{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page {{ title }}
{% endblock %}
{% block body %}
    <div class="w-75">
    <h1 class="text-center" style="color:#2F4F4F">
        Edit the Title Content</h1>
    </div>

    <form class="form-group" action="{% url 'edit' title %}" method="post">
        {% csrf_token %}
        <div class="">
            <textarea class="form-control w-75" rows="15" name="newContent">{{ content }}</textarea><br>
            <button type="submit" class="btn btn-outline-dark btn-submmit-edit">Submit Content</button>
        </div>
    </form>




{% endblock %}