{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Almendra Display' rel='stylesheet'>
        <link rel="shortcut icon" href="{% static 'encyclopedia/favicon.ico' %}">
    </head>
    <body>
		<div class="container-fluid">
			<div class="row">
            	<div class="sidebar sticky-top col-lg-3 col-md-12 col-sm-12">
                <div class="logo_text">
                    <a href="{% url 'index' %}">
                        <img title="wiki clone" class="mx-auto d-block logo" width="180" src="{% static 'encyclopedia/w_logo.png' %}">
                    </a>
                    <h2 class="display-1 text-center"><a>WIKI</a></h2>
                </div>

                <div class="search_form">
                    <form action="{% url 'search' %}" method="post">
                        <div class="input-group"> 
                                {% csrf_token %}
                                {{ form }}                   
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-light">SEARCH</button>
                            </div>    
                        </div>    
                    </form><br>
                </div>
 

                <div class="list-group text-center btn-group">
                    <div class="list-group-item list-group-item-action side-list-item">
                        <a href="{% url 'index' %}" >Home</a>
                    </div>
                    <div class="list-group-item list-group-item-action side-list-item">
                        <a href="{% url 'create' %}">Create New Page</a>
                    </div>
                    <div class="list-group-item list-group-item-action side-list-item">
                        <a href="{% url 'random' %}">Random Page</a>
                    </div>
                </div>
            </div>

            <div class="main col-lg-9 col-md-12 col-sm-12">
                {% block body %}
                {% endblock %}
            </div>
		
		</div>
		</div>
    </body>
</html>